<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="home" routerLinkActive="active" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="calcular-media" routerLinkActive="active" class="nav-link active" aria-current="page">Calcular Média</a></li>
      <li class="nav-item"><a routerLink="calculadora" routerLinkActive="active" class="nav-link">Calculadora</a></li>
      <li class="nav-item"><a routerLink="apolice-seguro" routerLinkActive="active" class="nav-link">Apólice</a></li>
      <li class="nav-item"><a routerLink="conversor-temperatura" routerLinkActive="active" class="nav-link">Conversor Temperatura</a></li>
      <li class="nav-item"><a routerLink="calculadora-imc" routerLinkActive="active" class="nav-link">Calculadora IMC</a></li>
    </ul>
  </header> 
  <router-outlet></router-outlet>
</div>